# PyCity Schools Analysis

- **Summary of Analysis**
  This analysis delves into raw data sourced from two main datasets based on student and school statistics. It looks into student performance broken down into certain metrics, such as average test scores, passing percentages, and overall performance and are weighed against additional factors including school size, spending per student, school type (charter vs district). Extrapolating this information can provide a broader picture and deeper trends and patterns emerge from within these datasets.

- **Key Takeaways**
    - Despite having a lower average per-student budget, charter schools demonstrate far greater student performance versus their district school counterparts.
    - Larger schools (2000+ students) tend to have lower overall performance versus smaller schools, indicating that school size may impact individual student results.

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Calculate the total number of unique schools
schoolCount = len(school_data_complete["school_name"].unique())
schoolCount

15

In [3]:
# Calculate the total number of students
# Use Student ID instead of Student Name as it's possible some students have the same name ("John Smith")
studentCount = len(school_data_complete["Student ID"].unique())
studentCount

39170

In [4]:
# Calculate the total budget
totalBudget = school_data["budget"].sum()
totalBudget

np.int64(24649428)

In [5]:
# Calculate the average (mean) math score
averageMathScore = school_data_complete["math_score"].mean()
averageMathScore

np.float64(78.98537145774827)

In [6]:
# Calculate the average (mean) reading score
averageReadingScore = school_data_complete["reading_score"].mean()
averageReadingScore

np.float64(81.87784018381414)

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passingMathCount = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passingMathPercentage = passingMathCount / float(studentCount) * 100
passingMathPercentage

np.float64(74.9808526933878)

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passingReadingCount = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passingReadingPercentage = passingReadingCount / float(studentCount) * 100
passingReadingPercentage

np.float64(85.80546336482001)

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passingMathReadingCount = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passingMathReadingCount /  float(studentCount) * 100
overall_passing_rate

np.float64(65.17232575950983)

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
districtSummaryDF = pd.DataFrame([
    {"Total Schools": schoolCount,
     "Total Students": studentCount,
     "Total Budget": totalBudget,
     "Average Math Score": averageMathScore,
     "Average Reading Score": averageReadingScore,
     "Passing Math Percentage": passingMathPercentage,
     "Passing Reading Percentage": passingReadingPercentage,
     "Overall Passing Rate": overall_passing_rate
     }
])

# Formatting
districtSummaryDF["Total Students"] = districtSummaryDF["Total Students"].map("{:,}".format)
districtSummaryDF["Total Budget"] = districtSummaryDF["Total Budget"].map("${:,.2f}".format)
districtSummaryDF["Average Math Score"] = districtSummaryDF["Average Math Score"].map("{:.1f}".format)
districtSummaryDF["Average Reading Score"] = districtSummaryDF["Average Reading Score"].map("{:.1f}".format)
districtSummaryDF["Passing Math Percentage"] = districtSummaryDF["Passing Math Percentage"].map("{:.2f}%".format)
districtSummaryDF["Passing Reading Percentage"] = districtSummaryDF["Passing Reading Percentage"].map("{:.2f}%".format)
districtSummaryDF["Overall Passing Rate"] = districtSummaryDF["Overall Passing Rate"].map("{:.2f}%".format)



# Display the DataFrame
districtSummaryDF

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Reading Percentage,Overall Passing Rate
0,15,"39,170","$24,649,428.00",79.0,81.9,74.98%,85.81%,65.17%

## School Summary

In [11]:
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [12]:
# Use the code provided to select the type per school from school_data
schoolTypes = school_data.set_index(["school_name"])["type"]
schoolTypes

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [13]:
# Calculate the total student count per school from school_data
perSchoolCounts = school_data.set_index(["school_name"])["size"]
perSchoolCounts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [14]:
# Calculate the total school budget and per capita spending per school from school_data
perSchoolBudget = school_data.set_index(["school_name"])["budget"]
perSchoolCapita = perSchoolBudget / perSchoolCounts
perSchoolCapita

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [15]:
# Calculate the average math scores per school
perSchoolMath = school_data_complete.groupby("school_name")["math_score"].mean()
perSchoolMath

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [16]:
# Calculate the average reading scores per school
perSchoolReading = school_data_complete.groupby("school_name")["reading_score"].mean()
perSchoolReading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [17]:
# Calculate the average test scores per school from school_data_complete
perSchoolScoresDF = pd.DataFrame({
    "School Ave Math Score": perSchoolMath,
    "School Ave Reading Score": perSchoolReading
})
perSchoolScoresDF

                       School Ave Math Score  School Ave Reading Score
school_name
Bailey High School                 77.048432                 81.033963
Cabrera High School                83.061895                 83.975780
Figueroa High School               76.711767                 81.158020
Ford High School                   77.102592                 80.746258
Griffin High School                83.351499                 83.816757
Hernandez High School              77.289752                 80.934412
Holden High School                 83.803279                 83.814988
Huang High School                  76.629414                 81.182722
Johnson High School                77.072464                 80.966394
Pena High School                   83.839917                 84.044699
Rodriguez High School              76.842711                 80.744686
Shelton High School                83.359455                 83.725724
Thomas High School                 83.418349                 83.848930
Wilson High School                 83.274201                 83.989488
Wright High School                 83.682222                 83.955000

In [18]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
studentsPassingMath = school_data_complete.loc[school_data_complete["math_score"] >= 70]
schoolStudentsPassingMath = studentsPassingMath.groupby("school_name")["student_name"].count()
schoolStudentsPassingMath

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [19]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
studentsPassingReading = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
schoolStudentsPassingReading = studentsPassingReading.groupby("school_name")["student_name"].count()
schoolStudentsPassingReading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [20]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [21]:
# Use the provided code to calculate the passing rates
perSchoolPassMathPct = schoolStudentsPassingMath / perSchoolCounts * 100
perSchoolPassReadPct = schoolStudentsPassingReading / perSchoolCounts * 100
overall_passing_rate = school_students_passing_math_and_reading / perSchoolCounts * 100
overall_passing_rate

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [22]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame(
    {
        "School Type": schoolTypes,
        "Total Students": perSchoolCounts,
        "Total School Budget": perSchoolBudget,
        "Per Student Budget": perSchoolCapita,
        "Average Math Score": perSchoolMath,
        "Average Reading Score": perSchoolReading,
        "% Passing Math": perSchoolPassMathPct,
        "% Passing Reading": perSchoolPassReadPct,
        "% Overall Passing": overall_passing_rate
    }
)

# Formatting
per_school_summary["Total Students"] = per_school_summary["Total Students"].map("{:,}".format)
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:,.2f}".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:,.2f}".format)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].map("{:,.2f}%".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:,.2f}%".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:,.2f}%".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

## Highest-Performing Schools (by % Overall Passing)

In [23]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
topSchools = per_school_summary.sort_values(by="% Overall Passing", ascending=False)
topSchools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

In [24]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottomSchools = per_school_summary.sort_values(by="% Overall Passing", ascending=True)
bottomSchools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

In [25]:
# Use the code provided to separate the data by grade
ninthGraders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenthGraders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventhGraders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfthGraders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and calculate the mean math score for each grade level
ninthGradeMath = ninthGraders.groupby("school_name")["math_score"].mean()
tenthGradeMath = tenthGraders.groupby("school_name")["math_score"].mean()
eleventhGradeMath = eleventhGraders.groupby("school_name")["math_score"].mean()
twelfthGradeMath = twelfthGraders.groupby("school_name")["math_score"].mean()

# Combine each of the scores into a single DataFrame
math_scores_by_grade = pd.DataFrame({
    "9th": ninthGradeMath,
    "10th": tenthGradeMath,
    "11th": eleventhGradeMath,
    "12th": twelfthGradeMath
})
# Minor data wrangling (removes index - school_name from data frame)
math_scores_by_grade.index.name = None
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [26]:
# Use the code provided to separate the data by grade
ninthGraders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenthGraders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventhGraders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfthGraders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
# Group by `school_name` and calculate the mean math score for each grade level
ninthGradeRead = ninthGraders.groupby("school_name")["math_score"].mean()
tenthGradeRead = tenthGraders.groupby("school_name")["math_score"].mean()
eleventhGradeRead = eleventhGraders.groupby("school_name")["math_score"].mean()
twelfthGradeRead = twelfthGraders.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = _scores_by_grade = pd.DataFrame({
    "9th": ninthGradeRead,
    "10th": tenthGradeRead,
    "11th": eleventhGradeRead,
    "12th": twelfthGradeRead
})

# Minor data wrangling (removes index - school_name from data frame)
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Scores by School Spending

In [27]:
# Establish the bins
spendingBins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [28]:
# Create a copy of the school summary for later aggregations
school_spending_df = per_school_summary.copy()

In [29]:
# Use `pd.cut` on the perSchoolCapita Series from earlier to categorize per student spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(
    perSchoolCapita,  # This should be the Series containing per-student spending values
    bins=spendingBins,
    labels=labels
)

# Convert Spending Ranges (Per Student) to a string
school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%,$585-630
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%,<$585
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%,$630-645
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%,$630-645
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%,$585-630
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%,<$585
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%,$645-680
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%,$585-630
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%,$630-645
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%,$585-630
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%,$630-645
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%,<$585
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%,<$585

In [30]:
# Check data types of all columns
print(school_spending_df.dtypes)

School Type                      object
Total Students                   object
Total School Budget              object
Per Student Budget               object
Average Math Score               object
Average Reading Score            object
% Passing Math                   object
% Passing Reading                object
% Overall Passing                object
Spending Ranges (Per Student)    object
dtype: object

In [31]:
# Convert columns with data type strings into floats
school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].str.replace("$", "").astype(float)
school_spending_df["Average Math Score"] = school_spending_df["Average Math Score"].astype(float)
school_spending_df["Average Reading Score"] = school_spending_df["Average Reading Score"].astype(float)
school_spending_df["% Passing Math"] = school_spending_df["% Passing Math"].str.replace("%", "").astype(float)
school_spending_df["% Passing Reading"] = school_spending_df["% Passing Reading"].str.replace("%", "").astype(float)
school_spending_df["% Overall Passing"] = school_spending_df["% Overall Passing"].str.replace("%", "").astype(float)

# Check data types of all columns
print(school_spending_df.dtypes)

School Type                       object
Total Students                    object
Total School Budget               object
Per Student Budget               float64
Average Math Score               float64
Average Reading Score            float64
% Passing Math                   float64
% Passing Reading                float64
% Overall Passing                float64
Spending Ranges (Per Student)     object
dtype: object

In [32]:
#  Calculate averages for the desired columns.
spendingMathScores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spendingReadingScores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spendingPassingMath = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spendingPassingReading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overallPassingSpending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [33]:
print(school_spending_df.columns)

Index(['School Type', 'Total Students', 'Total School Budget',
       'Per Student Budget', 'Average Math Score', 'Average Reading Score',
       '% Passing Math', '% Passing Reading', '% Overall Passing',
       'Spending Ranges (Per Student)'],
      dtype='object')

In [34]:
# View averages before creating the Spending Summary Dataframe
print(spendingMathScores)
print(spendingReadingScores)
print(spendingPassingMath)
print(spendingPassingReading)
print(overallPassingSpending)

Spending Ranges (Per Student)
$585-630    81.900000
$630-645    78.517500
$645-680    76.996667
<$585       83.452500
Name: Average Math Score, dtype: float64
Spending Ranges (Per Student)
$585-630    83.155000
$630-645    81.625000
$645-680    81.026667
<$585       83.932500
Name: Average Reading Score, dtype: float64
Spending Ranges (Per Student)
$585-630    87.132500
$630-645    73.485000
$645-680    66.163333
<$585       93.460000
Name: % Passing Math, dtype: float64
Spending Ranges (Per Student)
$585-630    92.717500
$630-645    84.392500
$645-680    81.133333
<$585       96.610000
Name: % Passing Reading, dtype: float64
Spending Ranges (Per Student)
$585-630    81.417500
$630-645    62.857500
$645-680    53.526667
<$585       90.367500
Name: % Overall Passing, dtype: float64

In [35]:
# Assemble into DataFrame
spending_summary = pd.DataFrame(
    {
    "Average Math Score": spendingMathScores,
    "Average Reading Score": spendingReadingScores,
    "% Passing Math": spendingPassingMath,
    "% Passing Reading": spendingPassingReading,
    "% Overall Passing": overallPassingSpending
    }
)
# Formatting
spending_summary["Average Math Score"] = spending_summary["Average Math Score"].map("{:.2f}".format)
spending_summary["Average Reading Score"] = spending_summary["Average Reading Score"].map("{:.2f}".format)
spending_summary["% Passing Math"] = spending_summary["% Passing Math"].map("{:.2f}%".format)
spending_summary["% Passing Reading"] = spending_summary["% Passing Reading"].map("{:.2f}%".format)
spending_summary["% Overall Passing"] = spending_summary["% Overall Passing"].map("{:.2f}%".format)



# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
$585-630,81.90,83.16,87.13%,92.72%,81.42%
$630-645,78.52,81.62,73.48%,84.39%,62.86%
$645-680,77.00,81.03,66.16%,81.13%,53.53%
<$585,83.45,83.93,93.46%,96.61%,90.37%

## Scores by School Size

In [36]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [37]:
# Create a copy of the school summary for later aggregations
school_size_df = per_school_summary.copy()

In [38]:
# Use `pd.cut` on the per_school_counts Series from earlier to categorize school size based on the bins.
school_size_df["School Size"] =  pd.cut(
    perSchoolCounts,  # Ensure this variable contains the total student count per school
    bins=size_bins,
    labels=labels
)

# Convert School Size to a string
school_size_df["School Size"] = school_size_df["School Size"].astype(str)
school_size_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%,Large (2000-5000)
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%,Medium (1000-2000)
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%,Large (2000-5000)
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%,Large (2000-5000)
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%,Medium (1000-2000)
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%,Small (<1000)
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%,Large (2000-5000)
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%,Small (<1000)
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%,Large (2000-5000)
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%,Medium (1000-2000)
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%,Medium (1000-2000)
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%,Large (2000-5000)
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%,Medium (1000-2000)

In [39]:
print(school_size_df.dtypes)

School Type              object
Total Students           object
Total School Budget      object
Per Student Budget       object
Average Math Score       object
Average Reading Score    object
% Passing Math           object
% Passing Reading        object
% Overall Passing        object
School Size              object
dtype: object

In [40]:
# Convert necessary columns to numeric
school_size_df["Average Math Score"] = school_size_df["Average Math Score"].astype(float)
school_size_df["Average Reading Score"] = school_size_df["Average Reading Score"].astype(float)
school_size_df["% Passing Math"] = school_size_df["% Passing Math"].str.replace("%", "").astype(float)
school_size_df["% Passing Reading"] = school_size_df["% Passing Reading"].str.replace("%", "").astype(float)
school_size_df["% Overall Passing"] = school_size_df["% Overall Passing"].str.replace("%", "").astype(float)

In [41]:
print(school_size_df.dtypes)

School Type               object
Total Students            object
Total School Budget       object
Per Student Budget        object
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Overall Passing        float64
School Size               object
dtype: object

In [42]:
# Calculate averages for the desired columns.
sizeMathScores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
sizeReadingScores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
sizePassingMath = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
sizePassingReading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
sizeOverallPassing = school_size_df.groupby(["School Size"])["% Overall Passing"].mean()

In [43]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame(
    {
    "Average Math Score": sizeMathScores,
    "Average Reading Score": sizeReadingScores,
    "% Passing Math": sizePassingMath,
    "% Passing Reading": sizePassingReading,
    "% Overall Passing": sizeOverallPassing
    }
)

# Formatting
size_summary["Average Math Score"] = size_summary["Average Math Score"].map("{:.2f}".format)
size_summary["Average Reading Score"] = size_summary["Average Reading Score"].map("{:.2f}".format)
size_summary["% Passing Math"] = size_summary["% Passing Math"].map("{:.2f}%".format)
size_summary["% Passing Reading"] = size_summary["% Passing Reading"].map("{:.2f}%".format)
size_summary["% Overall Passing"] = size_summary["% Overall Passing"].map("{:.2f}%".format)

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Large (2000-5000),77.75,81.34,69.96%,82.77%,58.28%
Medium (1000-2000),83.37,83.87,93.60%,96.79%,90.62%
Small (<1000),83.82,83.93,93.55%,96.10%,89.89%

## Scores by School Type

In [44]:
print(per_school_summary.dtypes)

School Type              object
Total Students           object
Total School Budget      object
Per Student Budget       object
Average Math Score       object
Average Reading Score    object
% Passing Math           object
% Passing Reading        object
% Overall Passing        object
dtype: object

In [45]:
# Convert necessary columns to numeric
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].astype(float)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].astype(float)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].str.replace("%", "").astype(float)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].str.replace("%", "").astype(float)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].str.replace("%", "").astype(float)

# Verify the data types
print(per_school_summary.dtypes)

School Type               object
Total Students            object
Total School Budget       object
Per Student Budget        object
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Overall Passing        float64
dtype: object

In [46]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [47]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Average Math Score": average_math_score_by_type,
    "Average Reading Score": average_reading_score_by_type,
    "% Passing Math": average_percent_passing_math_by_type,
    "% Passing Reading": average_percent_passing_reading_by_type,
    "% Overall Passing": average_percent_overall_passing_by_type
})

# Formatting
type_summary["Average Math Score"] = type_summary["Average Math Score"].map("{:.2f}".format)
type_summary["Average Reading Score"] = type_summary["Average Reading Score"].map("{:.2f}".format)
type_summary["% Passing Math"] = type_summary["% Passing Math"].map("{:.2f}%".format)
type_summary["% Passing Reading"] = type_summary["% Passing Reading"].map("{:.2f}%".format)
type_summary["% Overall Passing"] = type_summary["% Overall Passing"].map("{:.2f}%".format)


# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.47,83.90,93.62%,96.59%,90.43%
District,76.96,80.97,66.55%,80.80%,53.67%